._1VuT3inJLojeteNNdUvSeh {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.BFpQDNJ62UOlaB933I4jA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  border-bottom: 1px solid #e0e0e0;
}

._1A1J4xlpKobkX8JfUa45uQ {
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.ZHL81Jgo4v7QBES0IrBP8 {
  width: 50%;
  margin-left: auto;
}

._2ne6-q6N6YmOSqGj7y-Re_ {
  display: flex;
}

.JYYVmvVrh64RkTqH6K0hD {
  width: 72px;
  height: 72px;
}

.P28ZkrQteFEke19CiGj9m {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  align-self: stretch;
  width: 40%;
}

._2l-73rAeK9HNiIdxNyHGq- {
  display: flex;
  align-items: center;
  margin-left: auto;
}

._35-2JpizhBHmYg-1nBBIk2 {
  margin-left: 8px;
}

.U903it5lvim_DL1fCiq3f {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

._3R04rJ5KZsvDV4l0ilrzFt {
  display: flex;
}

._3cyTRp_QEE8P3iHh4Sk6xG {
  flex-shrink: 0;
  height: 300px;
}

._20YIbCYwozfR1crcXtf74J {
  width: 100%;
  height: 100%;
}

.ce-FMt6gHZosmh0dV2SCM {
  margin: 0 auto;
  text-align: center;
}

._3PsbIE_FLVJ3gR42_KuxFf {
  width: 64px;
  height: 64px;
}

._3UhAfYE8ikBH_9WJZezPdi {
  color: inherit;
  text-decoration: none;
}

._1fPd-7XrFfpuuLiqIhZNih {
  display: flex;
  align-items: center;
}

._3QSbfmDpc-fDNTOFkZSi-k {
  display: flex;
  margin-left: auto;
  align-items: center;
}

._1jY1h2qego6cmSVUV4c6oW {
  display: flex;
  flex-grow: 1;
}

.E9sfBenJb2vrfMALrKIwF {
  width: 96px;
  height: 96px;
}

.auy1LigLCFwil0QvzoQJf {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px 0 16px;
}

.ZlsV-AlqhtczpPaE09QdU {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

._2ll7Xt6a1l-Ihmzih7_ceO {
  height: 100%;
  display: flex;
  flex-direction: column;
}

._2tbeS65Uv9p8YgM1sDkKbA {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.R7j1Nfa3LjNycEIPp_iDH {
  width: 6.5em;
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: auto;
}

._2-h4JyPN1zty-2ezUETtgX {
  height: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.R7j1Nfa3LjNycEIPp_iDH::-webkit-scrollbar {
  display: none;
}

.R7j1Nfa3LjNycEIPp_iDH {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

._1A94Db0ZH6ozSo4Y5upENp {
  display: flex;
  z-index: 3;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.1);
  height: 40px;
}

._2AzRPdTLc3tYTTqYfOcRn3 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: scale(2);
  background-color: white;
  transform-origin: 0% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.1);
}

._2NW5Gqlp6U0MxMHZF8Cyn0 {
  display: flex;
  align-self: flex-end;
  margin-left: 32px;
  align-items: center;
}

._1A7462naFMcSgjKyEsKjS9 {
  flex: 1;
  margin-left: 32px;
}

._2Lo9r3DIpLfXINNKXdnqin {
  padding: 8px 15px;
  border-bottom: 1px solid #e0e0e0;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

._3nUa7Vg_7poLNWjvPUZKNf {
  display: flex;
  flex-direction: column;
}

._3N5ioClhweSODWrnZSzebk {
  max-width: 100vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}


/*# sourceMappingURL=main.d4cf772d.css.map*/